<h3> Hi <%=@user.first_name%></h3>
<div id="topbar">
    <a href="/shoes">Go to All Products</a>
    <a href="/">Log Out</a>
</div>
<div id="sell">
<h3>Sell Product</h3>
    <form action="/create" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label> Name:</label> <input type="text" name="product[name]" placeholder="Name">
    <br>
    <br>
    <label> Amount:</label> <input type="number" min="0.00" step="0.01" name="product[amount]" placeholder="3.50">
    <br>
    <br>
    <button type="submit">Sell</button>
    </form>
</div>
<div id="sell">
<h3>Your products that are not yet sold:</h3>
<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Date Posted</th>
        <th>Amount</th>
        <th>Action</th>
    </thead>
    <tbody>
    <tr>
    <% @product.each do |product|%><!--|this| should match the product.name-->
        <td><%=product.name%></td>
        <td><%=product.created_at.strftime("%m/%d/%Y")%></td>
        <td><%=product.amount%></td>
        <td><a href="">Remove</a></td>
        </tr>
        <% end %>
        </td>
    </tbody>
</table>
</div>
<div id="sell">
<h3>Sales:</h3>
    <table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Date Bought</th>
        <th>Buyer</th>
        <th>Amount</th>
    </thead>
    <tbody>
    <tr>
    <% @product.each do |product|%><!--|this| should match the product.name-->
        <td><%=product.name%></td>
        <td><%=product.updated_at.strftime("%m/%d/%Y")%></td>
        <td><%=product.to_user.email%></td>  
        <td><%=product.amount%></td> 
        </tr>
        <% end %>
    </tbody>
</table>
</div>
<div id="sell">
<h3>Purchases:</h3>
<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Date Bought</th>
        <th>Seller</th>
        <th>Amount</th>
    </thead>
    <tbody>
    <tr>
        <% @product.each do |product|%> <!--|this| should match the product.name-->
        <td><%=product.name%></td>
        <td><%=product.updated_at.strftime("%m/%d/%Y")%></td>
        <td><%=product.from_user.email%></td>
        <td><%=product.amount%></td>
    </tr>
        <% end %>
    </tbody>
</table>
</div>
<h4> Total Till: $23.50 </h4>