<h6> Hi (USER)</h6>
<div id=topbar>
    <a href="/dashboard/<%=@user_id%>">Go to Dashboard</a>
    <a href="/">Log Out</a>
<h1>All Products</h1>
<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Seller</th>
    <th>Date Posted</th>
    <th>Amount</th>
    <th>Action</th>
  </tr>
  </thead>
    <tbody>
  <% @product.each do |product|%><!--|this| should match the product.name-->
  <td><%=product.name%></td>
  <td><%=product.seller%></td>
  <td><%=product.created_at%></td>
  <td><%=product.amount%></td>
  <td><a href="">Buy</a></td>
<br>
<% end %>
  </td>
  </tbody>
</table>